/* gb no mobile */
@media (min-width: 730px) {.no_desk { display:none!important; visibility:hidden!important;}}	
@media (min-width: 240px) and (max-width: 730px) {.no_mobile {display:none!important; visibility:hidden!important;}}
/* @media (min-width: 240px) and (max-width: 730px) {.mobile { visibility:visible!important;}}	*/

header {
  padding: 75px 0 5px!important;
}

section {
  padding: 5px 50px!important;
}

/* sfondo titolo */
.bg-primary {background-color: #ff9900!important;}

/* collegamenti */
a:link {color: #FF9900;  text-decoration: none; }

a:hover {color: #ff9900;   text-decoration:underline!important; /* font-weight: bold!important;*/}

a:visited {color: #FF9900; text-decoration: none; }

/* filetto hr */
hr  {border: 0;
    height: 1px;
    background: #ff9900!important;
    background-image: linear-gradient(to right,  #eee, #ff9900,  #eee)!important;
	margin-top:20px;margin-bottom:20px;
}

/* icona social */
.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #343a409e;
  color: #fff;
  border-radius: 100%;
  font-size: 1.3rem;
  margin-right: 0.3rem;}

.social-icons .social-icon:last-child {
  margin-right: 0;}

.social-icons .social-icon:hover {
  background-color: #ff9900;}

.dev-icons {font-size: 3rem;}

/* font family in mobile */
@media (min-width: 240px) and (max-width: 1023px) { body  { font-size: 0.65rem!important;}

/* bottone in mobile */
@media (min-width: 240px) and (max-width: 1023px) { .btn {    font-size: 0.55rem!important;}}

@media (min-width: 240px) and (max-width: 1023px) { .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {   padding-right: 5px!important; padding-left: 5px!important;}}	

@media (min-width: 240px) and (max-width: 1023px) { .row {margin-left: -32px!important; }}


/* footer */
.pt-5, .py-5 {padding-top: 1rem!important;}
.pb-5, .py-5 {padding-bottom: 1rem!important;}


element.style {
}
*, ::after, ::before {
    box-sizing: border-box;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-warning {
    color: #FFFFFF;
    background-color: #ff9900;
    border-color: #ff9900;
}







